.day-overview-modal {
  background: #f7f7f7;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 5px;
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  padding: 0 20px;

  h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
  }
}

.event-overview {
  padding: 15px 7px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.day-view-add-event {
  background: #237b98;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.day-view-add-event:hover {
  background: #1c657d;
}
